<div class="modal left" id="menu-left" tabindex="-1" role="dialog" aria-labelledby="leftSideMenu">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-header bg-dark">
                <a data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i> Close Menu</a>
            </div>

            <div class="modal-body">
               <ul class="menu-nav">
                <li class="d-flex justify-content-between">
                    <a>Link 1</a>
                    <i class="fa fa-chevron-right"></i>
                </li>
                <li><a>Link 2</a></li>
                <li><a>Link 3</a></li>
               </ul>
            </div>

            <div class="modal-footer bg-dark">
                <a data-dismiss="modal" aria-label="Sign Out"><i class="fa fa-power-off"></i> Sign Out</a>
                <span class="filler"></span>
                <a data-dismiss="modal" aria-label="Sign Out"><i class="fa fa-ticket"></i> Support Ticket</a>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->